* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
}

.mess-box {
	width: 370px;
	height: 500px;
	background-color: bisque;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	border-radius: 10px;
	transition: 0.25s;
	transform: translateY(20%);
	visibility: hidden;
	opacity: 0.2;
}
.mess-box.active {
	visibility: visible;
	transform: translateY(0);
	opacity: 1;
}
.mess-box > div {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	background-color: cyan;
	color: white;
}

.mess-btn {
	width: 60px;
	height: 60px;
	background-color: cyan;
	color: white;
	font-size: 36px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
}

/* Search */
.search {
	margin: 100px;
	position: relative;
	display: inline-block;
}
.search input {
	padding: 10px 20px;
}
.search button {
	border: none;
	background-color: transparent;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

/* Header */

.header {
	background-color: antiquewhite;
}
.header ul {
	display: flex;
	justify-content: center;
}
.header ul li {
	list-style: none;
	padding: 10px 30px;
}
